# Export
#exportPattern(".")
exportPattern(gexp)

# Import all packages listed as Imports or Depends
import(
 stats,
 graphics
)

importFrom("utils", "combn")
importFrom("mvtnorm", "rmvnorm")
importFrom("png", "readPNG")
importFrom("jpeg", "readJPEG")
importFrom("tcltk", "tkmessageBox")
importFrom("tcltk", "tk_choose.files")

# S3 methods
S3method(gexp, default)
S3method(gexp, simple_crd)
S3method(gexp, simple_rcbd)
S3method(gexp, simple_lsd)
S3method(gexp, fe_crd)
S3method(gexp, fe_rcbd)
S3method(gexp, fe_lsd)
S3method(gexp, spe_crd)
S3method(gexp, spe_rcbd)
S3method(gexp, spe_lsd)
S3method(summary, gexp)
S3method(print, gexp)
S3method(plot, gexp.simple_crd)
S3method(plot, gexp.simple_rcbd)
S3method(plot, gexp.simple_lsd)
S3method(plot, gexp.fe_crd)
S3method(plot, gexp.fe_rcbd)
S3method(plot, gexp.fe_lsd)
S3method(plot, gexp.spe_crd)
S3method(plot, gexp.spe_rcbd)
S3method(plot, gexp.spe_lsd)
