/* CRIANDO ESTILOS PARA TABELAS */
tr.head{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}
tr.bottom{
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
tr.top{
    border-top: 1px solid black;
    border-collapse: collapse;
}

td, th{
 text-align: center;
 padding: 5px 10px;
}
